<div class='main'>
    <main class='content'>
        <h1>Help Page</h1>
        <div class='row'>
        <div class='col-md-6'>
            <div class='card'>
                <div class='card-header'>
                    <h1>Dashboard</h1>
                </div>
                <div class='card-body'>
                    <h3>Add Header 3</h3>
                    <p>Add text here.</p>
                </div>
            </div>
        </div>
        <div class='col-md-6'>
            <div class='card'>
                <div class='card-header'>
                    <h1>Events</h1>
                </div>
                <div class='card-body'>
                    <h3>Add Header 3</h3>
                    <p>Add text here.</p>
                </div>
            </div>
        </div>
        <div class='col-md-6'>
            <div class='card'>
                <div class='card-header'>
                    <h1>Users</h1>
                </div>
                <div class='card-body'>
                    <h3>Add Header 3</h3>
                    <p>Add text here.</p>
                </div>
            </div>
        </div>
        <div class='col-md-6'>
            <div class='card'>
                <div class='card-header'>
                    <h1>Attendance</h1>
                </div>
                <div class='card-body'>
                    <h3>Add Header 3</h3>
                    <p>Add text here.</p>
                </div>
            </div>
        </div>
        <div class='col-md-6'>
            <div class='card'>
                <div class='card-header'>
                    <h1>Member Categories</h1>
                </div>
                <div class='card-body'>
                    <h3>Add Header 3</h3>
                    <p>Add text here.</p>
                </div>
            </div>
        </div>
        <div class='col-md-6'>
            <div class='card'>
                <div class='card-header'>
                    <h1>Event Types</h1>
                </div>
                <div class='card-body'>
                    <h3>Add Header 3</h3>
                    <p>Add text here.</p>
                </div>
            </div>
        </div>
        <div class='col-md-6'>
            <div class='card'>
                <div class='card-header'>
                    <h1>My Profile</h1>
                </div>
                <div class='card-body'>
                    <h3>Add Header 3</h3>
                    <p>Add text here.</p>
                </div>
            </div>
        </div>
        </div>
    </main>
</div>
