<div class='main'>
  <main class='content'>
    <div class='col-md-6 center-items'>
      <div class='card center-items'>
        <div class='card-header'>
          <h2 Delete Attendance </h2>
        </div>
        <div class='card-body'>
          <%= form_for(@attendance, :method => 'delete') do |e| %>
            <p> Are you sure you want to delete attendance for the Event: <strong><%= e.object.events.event_name %></strong> and User: <strong><%= e.object.user.email %> </strong>? </p>

            <div>
              <%= e.submit("Delete Attendance") %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </main>
</div>