<div>
  <h2 Delete Attendance </h2>
    <%= form_for(@attendance, :method => 'delete') do |e| %>
      <p> Are you sure you want to delete attendance for the Event: <strong><%= e.object.events.event_name %></strong> and User: <strong><%= e.object.user.email %> </strong>? </p>

      <div>
        <%= e.submit("Delete Attendance") %>
      </div>
    <% end %>

</div>
