<div class='main'>
  <main class='content'>
    <div class='col-md-6 center-items'>
      <div class='card center-items'>
        <div class='card-header'>
            <%= link_to("Back to Events", events_path) %>
            <h2>You have already submitted attendance for this event.</h2>
        </div>
      </div>
    </div>
  </main>
</div>
