<div class="chart">
	<canvas id="chartjs-bar"></canvas>
</div>
<% require 'date' %>
<% day = Date.today %>
<%
	if day.month <= 7
		startM = Time.new(day.year, 1, 1)
		endM = Time.new(day.year, 7, 31)
	else
		startM = Time.new(day.year, 8, 1)
		endM = Time.new(day.year, 12, 31)
	end
%>

<% event_type_list = [] %>
<% event_type_points = [] %>
<% event_user_points = [] %>
<% current_user.user_info.member_category.category_rulesets.each do |category_ruleset| %>

	<% event = EventType.find(category_ruleset.event_type_id) %>
	<% event_type_list.push(EventType.find(category_ruleset.event_type_id).name) %>
	<% event_type_points.push(category_ruleset.points) %>
    <% event_user_points.push(Attendance.includes(:event_type, :events).where("event_types.name = ? and users_id = ? and events.date <= ? and events.date >= ?" ,
		EventType.find(category_ruleset.event_type_id).name, current_user, endM, startM).references(:event_types).count) %>
<% end %>

<script>
var xlabels = JSON.parse('<%= raw event_type_list %>');
var ylabels = JSON.parse('<%= raw event_type_points %>');
var yUserPoints = JSON.parse('<%= raw event_user_points %>');
// Bar chart
new Chart(document.getElementById("chartjs-bar"), {
	type: "bar",
	data: {
		labels: xlabels,
		datasets: [{
			label: "My Points",
			backgroundColor: "#800000",
			borderColor: "#800000",
			hoverBackgroundColor: "#800000",
			hoverBorderColor: "#800000",
			data: yUserPoints,
			barPercentage: .75,
			categoryPercentage: .5
		},{
			label: "Required",
			backgroundColor: window.theme,
			borderColor: window.theme,
			hoverBackgroundColor: window.theme,
			hoverBorderColor: window.theme,
			data: ylabels,
			barPercentage: .75,
			categoryPercentage: .5
		}]
	},
	options: {
		maintainAspectRatio: false,
		legend: {
			display: false
		},
		scales: {
			yAxes: [{
				gridLines: {
					display: false
				},
				stacked: false,
				ticks: {
					beginAtZero: true,
					stepSize: 1
				}
			}],
			xAxes: [{
				stacked: false,
				gridLines: {
					color: "transparent"
				}
			}]
		}
	}
});
</script>
