<nav class="navbar navbar-expand navbar-light navbar-bg">
    <a class="sidebar-toggle d-flex">
    <i class="hamburger align-self-center"></i>
    </a>
</nav>  

<script>
    var sidebarElement, sidebarToggleElement;
    sidebarElement = document.getElementsByClassName("sidebar")[0];
    sidebarToggleElement = document.getElementsByClassName("sidebar-toggle")[0];

    sidebarToggleElement.addEventListener("click", () => {
        sidebarElement.classList.toggle("collapsed");
        
        sidebarElement.addEventListener("transitionend", () => {
            window.dispatchEvent(new Event("resize"));
        });
    });      
</script>