<div class='main'>
  <main class='content'>
    <div class='col-md-4 center-items'>
      <div class='card center-items'>
        <div class='card-header'>
          <h1>Editing User Info</h1>
        </div>
        <div class='card-body'>
            <%= render 'form', user_info: @user_info %>
            <%= link_to 'Show', @user_info %> |
            <%= link_to 'Back', user_infos_path %>
        </div>
     </div>
    </div>
  </main>
</div>
