<div class='main'>
    <main class='content'>
        <div class='col-md-12'>
            <div class='card'>
                <div class='card-header'>
                    <h1>New Member Category</h1>
                </div>
                <div class='card-body'>
                    <%= render 'form', member_category: @member_category %>
                    <%= link_to 'Back', member_categories_path %>
                </div>
            </div>
        </div>
    </main>
</div>
      