
  <div>

    <br>
    <%= link_to("Attendance", new_attendance_path(events_id: @event.id, users_id: current_user.id )) %>

    <h1> Attendances for event <%= @event.event_name %></h1>




        <table>
          <tr>
            <th>User Name</th>
          </tr>
        <% @event.attendances.each do |event| %>
          <tr>
            <td><%= event.user.email %></td>
          </tr>
          <% end %>
          </table>
  </div>
